{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>QuickDB</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'frontend/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/skeleton.css' %}">
  <!-- <link rel="stylesheet" href="css/custom.css"> -->

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <!-- <link rel="stylesheet" href="css/github-prettify-theme.css"> -->
  <!-- <script src="js/site.js"></script> -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="dist/images/favicon.png"> -->

</head>
<body>
	<br/>
	<br/>
	<br/>
	<br/>
	<center>
		<h1>QuickDB</h1>
		<h4 style="background:#33C3F0;color:white;">
			Set up a Database in a mintue and control it using REST API
		</h4>
		<br/>
		<form action="" method="POST">
			<input style="width:300px;" type="email" placeholder="Email" name="emailInput" value="{{ username }}"><br/>
			<input style="width:300px;" type="password" placeholder="Password" name="passwordInput"><br/>
      <input style="width:300px;" type="password" placeholder="Confirm Password" name="confirmPasswordInput"><br/>
      {% if passwordDontMatch%}
      <font style="color:#e74c3c;">
          Password does not match, try again.
      </font><br/>
      {% endif %}
      {% if usernameExists%}
      <font style="color:#e74c3c;">
          Email invalid or already in use, try again.
      </font><br/>
      {% endif %}
      <input class="button-default" type="button" value="Go Home" onclick="location.href='../'">
			<input class="button-primary" type="submit" value="Sign Up">
		</form>
	<center>
  <a href="https://github.com/iSimar/QuickDB"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
</body>
</html>